<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Internship - Cloud BackEnd Developer - technical task</span>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>Process your image with Google Vision</span>
  </div>

  Select image file from computer or input link.

  <input type="file" id="fileInput" accept="image/*" (change)="fileChanged()">

  <div class="card-container">
    <div id="fileUploadContainer">
      
    <div class="card card-small" (click)="chooseFile()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Upload file</span>
    </div>
    <label for="fileInput" id="fileInputLabel">No file chosen</label>

  </div>
    
    <span id="or">or</span>

    <div class="card card-small">
      <input type="url" id="fileLink" placeholder="Input link">
    </div>
  </div>

  <div class="card-container">
    <div class="card card-small">
      <span>Submit</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>